@import url("font/font.css");
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}

.hero {
  height: auto;
  background: url("image/footer\ image.jpg")
  left bottom no-repeat;
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  background-blend-mode: multiply;
   /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
.hero .container{
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.flex{
  display: flex;
}
.container__about{
  margin-bottom: 30px;
}

.container__about p{
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages{
  column-gap: 200px;
}

.container-pages ul{
  padding-top: 10px;
  list-style: none;
  line-height: 35px;
}
.container-pages ul a{
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  
}
.container-pages ul a:hover{
  color: #017143;
}

footer .by{
margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .by p{
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}
.line__separete{
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
  
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--yahoo:hover {
  background-color: #c300ff;
  outline-color: #c300ff;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2{
    font-size: 20px;
  }
  .container__about p{
    font-size: 12px;
  }
  .container__recentpages h2{
    font-size: 20px;
  }
  .container-pages ul a{
    font-size: 12px;
  }
  footer .by p{
    font-size: 12px;
  }
} 

*,*:after,*:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }
  .cf:after {
      clear:both;
  }
  
  .searchform {
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    width:339px;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
    -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
    -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top:20px ;
    
  }
  
  .searchform input, .searchform button {
      float: left
  }
  .searchform input {
      background:#fefefe;
      border: none;
      font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
      margin-right: 5px;
      padding: 10px;
      width: 216px;
      box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
      -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
      -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
  }
      .searchform input:focus {
          outline: none;
          box-shadow:0 0 4px #0d76be inset;
          -moz-box-shadow:0 0 4px #0d76be inset;
          -webkit-box-shadow:0 0 4px #0d76be inset;
      }
      .searchform input::-webkit-input-placeholder {
        font-style: italic;
        line-height: 15px
      }
  
      .searchform input:-moz-placeholder {
        font-style: italic;
        line-height: 15px
      }
  
  .searchform button {
      background: rgb(40, 107, 141);
      background: -moz-linear-gradient(top, rgb(13, 57, 80) 0%, rgba(38,145,220,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
      background: -webkit-linear-gradient(top, rgb(17, 89, 129) 0%,rgba(38,145,220,1) 100%);
      background: -o-linear-gradient(top, rgb(19, 81, 114) 0%,rgba(38,145,220,1) 100%);
      background: -ms-linear-gradient(top, rgb(27, 104, 146) 0%,rgba(38,145,220,1) 100%);
      background: linear-gradient(to bottom, rgb(24, 79, 109) 0%,rgba(38,145,220,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
      border: none;
      color:#fff;
      cursor: pointer;
      font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
      padding: 10px;
      width:106px;
      box-shadow: 0 0 2px #2692dd inset;
      -moz-box-shadow: 0 0 2px #2692dd inset;
      -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
  }
      .searchform button:hover {
          opacity:.9;
          background-color: #0077b5;
          
      }
 
  